
$ac:#44A78D;
$bc:#4E5A65;
	// -- 推荐等高列表使用，依靠高度实现布局的
	@mixin ml($lh, $line) {
	    // display:block;  // 注意：行内元素时，-webkit-box, height不生效
	    display: -webkit-box;
	    height: $lh*$line;
	    line-height: $lh;
	    // word-break: break-all; 英文版的多行文本异常，去掉
	    text-overflow: ellipsis;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: $line;
	}		
	// placeholder 
	@mixin ph($color: #e2e2e2) {

		// 使用webkit内核的浏览器
		&::-webkit-input-placeholder {
			color: $color;
		}

		// Firefox版本4-18
		&:-moz-placeholder {
			color: $color;
		}

		// Firefox版本19+
		&::-moz-placeholder {
			color: $color;
		}

		// IE浏览器
		&:-ms-input-placeholder {
			color: $color;
		}
	}	
	
	.m-flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item{
			display: flex;
			flex-wrap: wrap;
		}
	}
	
.uni-form-item{
	background:#fff;
	margin-bottom:1px;
	display: flex;
	padding:36.23rpx 45.28rpx;
	font-size:25.36rpx;
	align-items: center;
	position: relative;
	.title{
		color: #4e5a65;
		padding-right:9.05rpx;
	}	
}
.uni-input{
		font-size:25.36rpx;
		flex: 1;
		text-align:right;
		min-height:41.66rpx;
		
	}
.colorred{
	color:#f30e0e;
}
.uni-tl-input{
	text-align:left;
}
.uni-textarea{
	line-height:43.47rpx;
	height:173.91rpx;
}

.cl-form {
	.radio-box .cl-form-item__content{
		justify-content: flex-end;
	}
	.cl-form-item{padding:0 !important;min-height:none !important;}
.m-from-item{
	background:#fff;
	margin-bottom:1px;
	padding:27.17rpx 18.11rpx;
	
}
.cl-card__header{
	padding:0 10px;
	span{
	color: #4e5a65;
	font-size:25.36rpx;
	}
	&:before{
		display:none;
	}
}
.cl-input{border:0;padding:0;}
.cl-form-item__container{padding-left:0 !important;}
}
.brand-bg {
		
			background-color: #f6f6f6;
			border-radius: 3px;
			border: solid 1px #e2e2e2;
			height: 72.46rpx;
			line-height: 72.46rpx;
			padding: 0 18.11rpx !important;
			position: relative;
			.cl-icon{position:absolute;right:18.11rpx;top:3.62rpx;}
		}
	

.size-text{
	background:#fff;
	padding:0 0 36.23rpx 45.28rpx;
	position:relative;
	top:-36.23rpx;
	text{
		color:#ff2323;
	}
}

.m-form-item{
	padding:27.17rpx 36.23rpx;
}
.uoload-wrap{
	justify-content:space-between;
.u-list-item{
	
}
}
.upload-item{
	text-align: center;
}
.pb60 {
		padding-bottom: 108.69rpx;
	}
.uni-list-cell {
		margin-left:18.11rpx;
	}
	.checkbox-item-box{
		padding:12px 0 81.52rpx;
		display: flex;
		justify-content:space-around;
		image{
			width:36.23rpx;
			height:36.23rpx;
			vertical-align:middle;
		}
	}
	
	

/*公共按钮*/
.common-btn {
	position: fixed;
	left: 0;
	right: 0;
	background: #fff;
	width: 100%;
	bottom: 0;
	z-index: 99;
	padding: 16.3rpx 0;

	button {
		width: 576.08rpx;
		height: 72.46rpx;
		line-height: 72.46rpx;
		background: #44a78d;
		border-radius: 181.15rpx;
		text-align: center;
		font-size: 32.6rpx;
		color: #fff;
		cursor: pointer;

	}
}

/*个人注册*/
uni-input{
	font-size:25.36rpx;
}
.m-input-fullwidth{
	display: block;
	flex:1;
	height:54.34rpx;
	line-height:54.34rpx;
	padding:0 18.11rpx;
}
.send-code{
	padding:0 18.11rpx;
		height:54.34rpx;
		background-color: #e2e2e2;
		border-radius:10.86rpx;
		color: #4e5a65;
		font-size:25.36rpx;
		text-align: center;
		line-height:54.34rpx;
}	
	
	.read-checkbox{padding:54.34rpx 0;
		display: flex;
		justify-content: center;
		align-items: center;
		navigator{
			color:$ac;
		}
	}
	
	.uni-form-item{
		.uni-picker{
			width:100%;
		}
	}
	
	.uni-input-left{
		text-align:left;
		
	}
	
	.qualifications{
		background:#fff;
		margin-bottom:1px;
		padding:20px 25px;
	}
	.pb0{
		padding-bottom:0;
	}
	.inline-block{
		flex: 1;
	}
	.unit-picker{
		display: flex;
		align-items: center;
		text-align:right;
		
		.cl-icon{margin-left:36.23rpx;}
		uni-picker{
			flex: 1;
			border:1px solid $ac;
			padding:0 9.05rpx;
			margin-right:18.11rpx;
		}
		.curunit{min-width:90.57rpx;height:43.47rpx;border:1px solid #f2f2f2; display: inline-block;padding:0 18.11rpx;margin-right:18.11rpx;vertical-align:middle;}
	}
	.checkbox-list-bottom{
		padding:0 45.28rpx 54.34rpx;
		display: flex;
		justify-content: space-around;
	}
	.checkbox-item{width:48%;
		.title{
			position: relative;
			background-image: linear-gradient(270deg, 
					#cee6e0 0%, 
					#48a990 100%);
				border-radius: 11px 11px 0px 0px;
				color:#fff;
				padding:12.68rpx 18.11rpx;
				text{position: absolute;right:18.11rpx;}
		}
		.checkboxbg{
			background:#fff;
			padding:16.3rpx 18.11rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius:19.92rpx;
		}
		.dec-text{
			.iconfont{
				display: inline-block;
				border:1px solid #8E8E93;
				border-radius:50%;
				margin-left:7.24rpx;
			}
		}
		.price{
			font-size:21.73rpx;
			color:#4E5A65;
			.cl-checkbox{margin-right:0;}
			.cl-checkbox .cl-checkbox__input{margin-right:0;width:36.23rpx;height:36.23rpx;margin-left:10.86rpx;}
			.checkbox-icon{
				display: inline-block;
				vertical-align:-7.24rpx;
				width:36.23rpx;
				height:36.23rpx;
			}
		}
	}