
$ac:#44A78D;
$bc:#4E5A65;
	// -- 推荐等高列表使用，依靠高度实现布局的
	@mixin ml($lh, $line) {
	    // display:block;  // 注意：行内元素时，-webkit-box, height不生效
	    display: -webkit-box;
	    height: $lh*$line;
	    line-height: $lh;
	    // word-break: break-all; 英文版的多行文本异常，去掉
	    text-overflow: ellipsis;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: $line;
	}		
	// placeholder 
	@mixin ph($color: #e2e2e2) {

		// 使用webkit内核的浏览器
		&::-webkit-input-placeholder {
			color: $color;
		}

		// Firefox版本4-18
		&:-moz-placeholder {
			color: $color;
		}

		// Firefox版本19+
		&::-moz-placeholder {
			color: $color;
		}

		// IE浏览器
		&:-ms-input-placeholder {
			color: $color;
		}
	}	
	
	.m-flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item{
			display: flex;
			flex-wrap: wrap;
		}
	}
	
.uni-form-item{
	background:#fff;
	margin-bottom:1px;
	display: flex;
	padding:36.23rpx 45.28rpx;
	font-size:25.36rpx;
	align-items: center;
	position: relative;
	.title{
		color: #4e5a65;
	}	
}
.uni-input{
		font-size:25.36rpx;
		flex: 1;
		text-align:right;
		
	}
.colorred{
	color:#f30e0e;
}
.uni-tl-input{
	text-align:left;
}
.uni-textarea{
	line-height:43.47rpx;
	height:173.91rpx;
}

.cl-form {
	.radio-box .cl-form-item__content{
		justify-content: flex-end;
	}
	.cl-form-item{padding:0 !important;min-height:none !important;}
.m-from-item{
	background:#fff;
	margin-bottom:1px;
	padding:27.17rpx 18.11rpx;
	
}
.cl-card__header{
	padding:0 10px;
	span{
	color: #4e5a65;
	font-size:25.36rpx;
	}
	&:before{
		display:none;
	}
}
.cl-input{border:0;padding:0;}
.cl-form-item__container{padding-left:0 !important;}
}
.brand-bg {
		margin-bottom: 0 !important;
		.cl-form-item__container {
			background-color: #f6f6f6;
			border-radius: 3px;
			border: solid 1px #e2e2e2;
			height: 72.46rpx;
			line-height: 72.46rpx;
			padding: 0 18.11rpx !important;
		}
	}

.size-text{
	background:#fff;
	padding:0 0 36.23rpx 45.28rpx;
	position:relative;
	top:-36.23rpx;
	text{
		color:#ff2323;
	}
}

.m-form-item{
	padding:27.17rpx 36.23rpx;
}
.uoload-wrap{
	justify-content:space-between;
.u-list-item{
	
}
}
.upload-item{
	text-align: center;
}
.pb60 {
		padding-bottom: 108.69rpx;
	}
.uni-list-cell {
		margin-left:18.11rpx;
	}
	.checkbox-item-box{
		padding:12px 0 81.52rpx;
		display: flex;
		justify-content:space-around;
		
	}
	
	

	/*公共按钮*/
	.common-btn {
		position: fixed;
		left: 0;
		right: 0;
		background: #fff;
		width: 100%;
		bottom: 0;
		z-index: 99;
		padding: 16.3rpx 0;
	
		button {
			width: 576.08rpx;
			height: 72.46rpx;
			line-height: 72.46rpx;
			background: #44a78d;
			border-radius: 181.15rpx;
			text-align: center;
			font-size: 32.6rpx;
			color: #fff;
			cursor: pointer;
	
		}
	}
	
	