	.uni-swiper-dots {
		position: absolute;
		bottom:9.05rpx;
		left:0;
		overflow: hidden;
		display: flex;
		width:100%;
		justify-content: center; /* 水平居中 */
		.uni-swiper-dot {
			
			width:10.86rpx;
			height:10.86rpx;
			background-color: rgba(255, 255, 255, 0.6);
			transition: all 0.3s ease-out;
			margin:0 9.05rpx;
			border-radius:50%;
			&.uni-swiper-dot-active {
				width:76.08rpx;
				border-radius:18.11rpx;
				background-color: rgba(255, 255, 255,1);
			}
		}
	}